/* estilo.css */

.cabecalho {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
}

.cabecalho img {
    width: 8%;
    max-width: 16%;
}

.cabecalho nav {
    margin-left: 20px;
}

.cabecalho .links_menu,
.cabecalho .links_login {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.cabecalho .links_menu li,
.cabecalho .links_login li {
    margin-right: 10px;
}

.cabecalho .links_login {
    margin-left: auto;
}

.cabecalho .links_login .botao_cadastro{
    border-radius: 10px;
    background-color: #202986;
}

.cabecalho .links_login .botao_cadastro a{
    text-decoration: none;
    border-radius: 10px;
    color:#ffffff
}

.cabecalho .links_login .botao_entrar{
    text-decoration: none;
    border-radius: 10px;
}

.cabecalho .links_menu a{
    
    color: #000000;
    font-size: 13px;
    font-weight: 800;
    text-align: center;
    padding: 3%;
}

.cabecalho a:hover {
    border-radius: 5px;
    color: #ffffff;
    background-color: #2e2e2e;
}






/* .cabecalho{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #ffffff;
}

.cabecalho img{
    width: 8%;
    max-width: 16%;
    display: block;
}

.cabecalho nav{
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 100%;
    flex-wrap: wrap;
}

.cabecalho a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    padding: 3% 3%;
}

.cabecalho a:hover{
    border-radius: 10px;
    color: #ffffff;
    background-color: #2e2e2e;
} */
