#container-image {
    position: relative;
    height: 90vh;
    width: 100%;
    background: url("../img/backgr-index.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#container-image h1 {
    text-align: right;
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 25px;
    line-height: 2.5;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 10px;
}


#container-1cont p,
#container-1cont img {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-left: 2%;
}

#container-1cont #botao_mais{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    background-color: #202986;
    margin-left: 3%;
}


#container-1cont #botao_mais a{
    text-decoration: none;
    border-radius: 10px;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

#container-1cont h3{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 3%;
}

#container-1cont img {
    max-width: 45%;
    height: auto;
    float: right;
    border-radius: 8%;
}

#container-1cont h3,
#container-1cont p {
    text-align: left;
}

#container-1cont p {
    text-align: justify;
    max-width: 40%;
    height: auto;
}

#container-1cont #botao_mais:hover {
    background-color: #0d98ba;
    cursor: pointer;
}

#container-1cont {
    margin-bottom: 17%;
}




#container-2cont p,
#container-2cont img {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-left: 2%;
}


#container-2cont h3{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 3%;
}

#container-2cont img {
    max-width: 45%;
    height: auto;
    float: right;
    border-radius: 8%;
}

#container-2cont h3,
#container-2cont p {
    text-align: left;
}

#container-2cont p {
    text-align: justify;
    max-width: 40%;
    height: auto;
}

#container-2cont #botao_mais{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    background-color: #202986;
    margin-left: 3%;
}

#container-2cont #botao_mais a{
    text-decoration: none;
    border-radius: 10px;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

#container-2cont #botao_mais:hover {
    background-color: #0d98ba;
    cursor: pointer;
}

#container-2cont {
    margin-bottom: 17%;
}





#container-3cont p,
#container-3cont img {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-left: 2%;
}


#container-3cont h3{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 3%;
}

#container-3cont img {
    max-width: 45%;
    height: auto;
    float: right;
    border-radius: 8%;
}

#container-3cont h3,
#container-3cont p {
    text-align: left;
}

#container-3cont p {
    text-align: justify;
    max-width: 40%;
    height: auto;
}

#container-3cont #botao_mais{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    background-color: #202986;
    margin-left: 3%;
}

#container-3cont #botao_mais a{
    text-decoration: none;
    border-radius: 10px;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

#container-3cont #botao_mais:hover {
    background-color: #0d98ba;
    cursor: pointer;
}