<<<<<<< HEAD
/* #container-image {
    position: relative;
    height: 90vh;
    width: 100vw;
    background: url("../img/backgr-index.jpg");
    background-size: cover;
}

#container-image h1{
    justify-content: center;
} */


#container-image {
    position: relative;
    height: 90vh;
    width: 100%;
    background: url("../img/backgr-index.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#container-image h1 {
    text-align: right;
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 26px;
    line-height: 2.5;
}
=======
body {
    margin: 0;
}
>>>>>>> 061802d794561ac652c6fac5d29be9f193bd6c20
