@import url("./cabecalho.css");
@import url("./login.css");
@import url("./rodape.css");
@import url("./cadrastro.css");
@import url("./conteudo-index.css");
@import url("./conteudo-agric.css");
@import url("./conteudo-ia.css");
@import url("./cont-cultivoefici");

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}