@import './styleagricola.css';
@import './styleagricultura.css';
@import './stylecultivo.css';
@import './styledoador.css';
@import './styleindex.css';
@import './styleindexpdoacao.css';
@import './stylelocalizacao.css';
@import './login.css';

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}